# =========================
# Maven
# =========================
target/

# =========================
# Java
# =========================
*.class

# =========================
# Eclipse
# =========================
.metadata/
.recommenders/
.settings/
.classpath
.project

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Arquivos temporários
# =========================
*.tmp
*.bak
*~
